<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="fr.isen.david.themaquereau">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".TheMaquereauApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Themaquereau"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${mapsApiKey}" />
        <activity android:name=".ManageEggsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.isen.david.themaquereau.HomeActivity" />
        </activity>
        <activity android:name=".PreviousOrdersActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.isen.david.themaquereau.HomeActivity" />
        </activity>
        <activity android:name=".ContactActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.isen.david.themaquereau.HomeActivity" />
        </activity>
        <activity android:name=".SignUpActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.isen.david.themaquereau.DishDetailsActivity" />
        </activity>
        <activity android:name=".SignInActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.isen.david.themaquereau.HomeActivity" />
        </activity>
        <activity android:name=".BasketActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.isen.david.themaquereau.HomeActivity" />
        </activity>
        <activity android:name=".DishDetailsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.isen.david.themaquereau.DishesListActivity" />
        </activity>
        <activity
            android:name=".DishesListActivity"
            android:parentActivityName=".HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.isen.david.themaquereau.HomeActivity" />
        </activity>
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>